/*

Cretus Website
	
*/
 
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400');

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  background: #f9f9f9;
}



/*---------------------------------------
   TYPOGRAPHY              
-----------------------------------------*/

h1,h2,h3,h4,h5,h6 {
  font-weight: 300;
  line-height: normal;
}

h1 {
  font-size: 3em;
}

h2 {
  color: #353535;
  font-size: 2em;
}

p {
  color: #757575;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
}



/*---------------------------------------
   GENERAL               
-----------------------------------------*/

html{
  -webkit-font-smoothing: antialiased;
}

a {
  color: #202020;
  text-decoration: none !important;
}

a,
input, button,
.back-home {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}


::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #202020;
}

.section-title {
  padding-bottom: 40px;
}

section {
  position: relative;
  padding: 100px 0;
}

#contact,
footer {
  background: #ffffff;
  text-align: center;
}

.overlay {
  background: #536976;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 0.7;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}




/*---------------------------------------
     PRE LOADER              
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.spinner {
  border: 1px solid transparent;
  border-radius: 3px;
  position: relative;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45px;
  height: 45px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 1px solid #575757;
  border-top-color: #ffffff;
  animation: spinner .9s linear infinite;
}

@-webkit-@keyframes spinner {
  to {transform: rotate(360deg);}
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}


/*---------------------------------------
      ABOUT              
  -----------------------------------------*/

  #about .col-md-4 {
    margin: 0;
    padding: 10px;
  }

  #about .section-title {
    padding-bottom: 0px;
    text-align: center;
  }

  .about-img img {
    display: block;
    margin: 40px auto;
  }

  .back-home {
    width: 30%;
    margin: 40px auto;
    padding: 10px 5px;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 5px;
  }

  .back-home:hover {
    background-color: #43b145;
    color: white;
    border: none;
    outline: none;
  }

  .about-img {
    text-align: center;
  }

  .about-img p {
    padding-bottom: 40px;
    text-align: center;
    font-size: medium;
  }

  .about-thumb {
    background: #ffffff;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 14px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .about-thumb-up:after {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: -15px;
    right: 0;
    left: 0;
    content: "";
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #ffffff;
  }

  .about-thumb-down:after {
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: -15px;
    right: 0;
    left: 0;
    content: "";
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-top: 15px solid #ffffff;
  }

  .about-info {
    position: relative;
    padding: 40px;
  }

  .about-info h2 {margin: 0;}

  .about-info small {
    display: block;
    font-size: 18px;
    margin: 5px 0 10px 0;
  }

  .about-thumb img {
    width: 100%;
  }
  
  .about-thumb .middle .text p {
    color: black;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-style: italic; 
  }

  .member-img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    width: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }

  .sides {
    top: 30%;
  }

  .between {
    bottom: 10%; 
  }
  
  .about-thumb:hover .member-img {
    opacity: 0.1;
  }
  
  .about-thumb:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: transparent;
    text-align: center;
  }

  /*---------------------------------------
     SOCIAL ICON              
  -----------------------------------------*/

  .social-icon {
    position: relative;
    padding: 5px 0px;
    margin: 0px;
  }

  .social-icon li {
    display: inline-block;
    list-style: none;
    margin: 0px auto;
  }

  .social-icon li i {
    border-radius: 50px;
    color: #202020;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    position: relative;
    margin: 5px 5px 5px 0;
  }

  .social-icon li i:hover {
    background: #43b145;
    color: white;
    transition: 0.8s;
  }

/*---------------------------------------
     FOOTER              
  -----------------------------------------*/

  footer {
    padding-bottom: 40px;
    padding-top: 20px;
    background: #43b145;
    border-top: 2px solid #575757;
  }

  .copyright-text p {
    color: black;
    margin: 5px;
  }

  .footer-icon li i:hover {
    background-color: white;
    color: black;
  }

  .footer-icon li i {
    border-radius: 50px;
    color: #202020;
    font-size: 25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    position: relative;
    margin: 5px 5px 5px 0;
  }

  /*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

  @media only screen and (max-width: 1200px) {

    .home-info {
      margin-top: 0;
    }
  }


  @media only screen and (max-width: 992px) {

    section {
      padding: 60px 0;
    }

    footer {
      padding-bottom: 40px;
    }
  }


  @media screen and (max-width: 767px) {

    .section-title {
      padding-bottom: 20px;
    }
    
    .back-home {
      font-size: medium;
    }

    #about .col-md-4:nth-child(3n) .about-thumb {
      display: flex;
      -webkit-box-orient: vertical;
      flex-direction: column-reverse;
      -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
    }

    .about-thumb-down:after {
      top: -15px;
      bottom: inherit;
      border-top: inherit;
      border-bottom: 15px solid #ffffff;
    }

  }